<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @profile.identification %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
